@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    /* background: linear-gradient(to right,
            rgba(0, 128, 96, 0.75),
            rgba(0, 140, 170, 0.75)); */
    background: linear-gradient(90deg, rgba(15, 162, 122, 1) 0%, rgba(41, 145, 136, 1) 50%, rgba(68, 127, 153, 1) 100%);

}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffffbf;
}

.login-container .back {
    position: relative;
    top: -30px;
}

.login-container .back img {
    opacity: 0.5;
    height: 80px;
}

.loader-img {
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0px 0 17px 1px #ccc;
    background: #ffffffcf;
}

#loader img {
    height: 80px;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0 !important;
    margin: 0 !important;
}

.main-content {
    margin-top: var(--header-height);
}

.p-contain {
    padding: 20px;
}

/* login page styles start */

.login-block .bg-overlay {
    background-image: url("../images/login-bg.png");
    background-size: cover;
    background-position: center;

    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
}


.login-block .login-container {
    text-align: center;
    color: white;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-block .login-sub-container {
    width: 500px;
}

.login-block .logo {
    width: 110px;
    margin-bottom: 10px;
}

.login-block h1 {
    margin-top: 0;
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 15px;
}

.login-block .login-box {
    padding: 35px 60px;
    border-radius: 25px;
    background: #133d4869;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
}

.login-block .login-box h3 {
    margin-bottom: 20px;
    font-size: 24px;
    color: white;
}

.login-block .login-box input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 14px;
}

.login-block .login-box button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;

    background: #FFC107;
    color: black;
    font-weight: bold;

    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.login-block .login-box button:hover {
    background: #ffb300;
}

.login-block .error-msg {
    color: #d93025;
    margin-top: 12px;
    font-size: 14px;
}

.login-block .help {
    color: #e0e0e0;
    display: block;
    margin-top: 12px;
    cursor: pointer;
}

.login-sub-container .form-group {
    position: relative;
    margin-bottom: 5px;
}

.login-sub-container .title h2 {
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 0;
}

.error {
    margin-top: 6px;
    color: #ef6e65;
    text-align: start;
    position: absolute;
    font-size: 10px;
    bottom: -7px;
}

/* login-page styles end */

/* header-styles */
.zc-logo img {
    height: 44px;
    width: auto
}

header {
    /* background-color: var(--header-bg-color); */
    background-image: linear-gradient(to right, #1e8a76, #40758a);
    height: var(--header-height);
    padding: var(--header-padding);
    box-shadow: var(--header-box-shadow);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

header .dropdown-toggle {
    font-size: 20px;
}

.header-title {
    margin-left: 15px;
    color: #fff;
}

.header-title h3 {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}

.header-title p {
    font-size: 12px;
    margin: 0;
    font-weight: 100;
}

li.zc-notifications {
    padding-top: 7px;
    color: #fff;
    cursor: pointer;
}

.welcome-user-pic {
    background: #3b87ef;
    color: #fff;
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-left: 7px;
    font-size: 20px;
    font-weight: 500;
}

.zc-profile-dp-menu-list {
    padding-left: 0;
    list-style: none;
}

.welcome-widget {
    color: #fff;
    text-align: right;
    display: flex;
    flex-direction: column;
}

.zc-header .zc-header-right ul li .zc-profile-dp a .welcome-user {
    max-width: 125px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    font-weight: 500;
    font-size: 16px;
}



label.zc-user-info {
    font-size: 12px;
    cursor: pointer;
    font-weight: 100;
}

header .zc-header-right .zc-profile-dp-link {
    margin-left: 60px;
    cursor: pointer;
}

.zc-profile-dp .dropdown-toggle::after {
    content: unset;
}

.zc-notifications .dropdown-toggle::after {
    content: unset;
}

.zc-notifications .dropdown-toggle span {
    color: #fff;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    border-radius: 12px;
    position: absolute;
    top: 1px;
    right: -7px;
    font-size: 10px;
    min-width: 15px;
    height: 15px;
}

.zc-notifications .dropdown-menu.show {
    min-width: 256px !important;
    box-shadow: 0 0 0 1px rgb(20 20 31 / 5%), 0 2px 7px 1px rgb(20 20 31 / 16%);
    border: none;
    padding: 0;
    margin-top: 20px;
}

.zc-notifications .dropdown-menu h4 {
    background-color: #fff !important;
    border-bottom: 1px solid #2222301a;
    padding: 12px 16px !important;
    font-size: 14px;
    font-weight: 600;
    color: #888c9b;
    border-radius: 5px 5px 0 0;
    margin: 0;
}

.zc-notifications .notification-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.zc-notifications .notification-footer a {
    color: #007ad9;
    font-size: 14px;
    padding: 8px;
    cursor: pointer;
}

/* header styles end */


.table-title {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 0;
    color: #fff;
}


.stats-bar {
    gap: 12px;
}

.stats-bar .stat-box {
    background: transparent;
    padding: 8px 12px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    border: 1px solid #1eb3b9;
    min-height: 70px;
}

.stats-bar .stat-box.loc-box {
    border: 0;
    font-size: 14px;
}

.stats-bar .stat-box i {
    font-size: 33px;
    color: #1eb3b9;
}

.stats-bar .stat-box i.check-icon {
    color: #fff;
}

.stats-bar img {
    height: 28px;
}

.stats-bar small {
    font-size: 14px;

}

.stats-bar strong {
    font-size: 24px;
    font-weight: 500;
    line-height: 1;
}

.date-input {
    background: transparent;
    border: none;
    color: #1eb3b9;
    font-size: 11px;
    margin-left: 5px;
}

.date-input::-webkit-calendar-picker-indicator {
    filter: invert(1);
    cursor: pointer;
}

.dates-box .date-label {
    font-size: 14px;
}

.dates-box span {
    font-size: 14px;
    padding-left: 5px;
    color: #1dbdc5;
    font-weight: 500;
}

table.dataTable thead th,
table.dataTable tfoot th {
    font-weight: 500;
    font-size: 14px;
}

table.dataTable tbody td {
    font-size: 14px;
}

.scan-btn {
    background: #29aae0;
    border: none;
    border-radius: 10px;
    padding: 10px 14px;
    min-height: 82px;
}

tbody .green-text {
    color: green;
}

table.dataTable thead>tr>th div.dt-column-header span.dt-column-title {
    font-weight: 600;
}

.scan-btn i {
    font-size: 33px;

}

.scan-btn:hover {
    background: #178fb0;
}

/* list-styles start */


.token-list div.dt-container {
    position: relative;
    clear: both;
    background: #fff;
    margin: 0;
    /* padding: 40px 24px 5px; */
    padding: 5px 24px 5px;
    border-radius: 5px;
}

.token-list .token-list-heading {
    /* position: absolute; */
    top: 24px;
    z-index: 9;
    left: 24px;
    font-size: 18px;
    margin-bottom: 0px;
    font-weight: 600;
    width: max-content;
    padding: 17px 0 0 17px;
}

.token-list .dt-container div.dt-layout-row div.dt-layout-cell.dt-layout-start {
    display: none;
}

div.dt-container div.dt-layout-row div.dt-layout-cell.dt-layout-end {
    justify-content: flex-end;
    margin-left: 0px !important;
}

.token-list .dt-search label {
    display: none;
}

.token-list .dt-input {
    width: 996px;
}

.token-list .filters button {
    background-color: white;
}

.filter-sub {
    display: flex;
    align-items: baseline;
    justify-content: right;
    gap: 8px;
    position: absolute;
    top: 12px;
    z-index: 9;
    right: 16px;
}

.token-list {
    position: relative;
    background: #fff;
}

.token-list td {
    background-color: #fff !important;
    box-shadow: none !important;
    height: 80px;
}

.token-list .name-letter {
    background-color: #e3ebc5;
    color: #36b248;
    padding: 10px;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.token-list .phone-number {
    font-size: 13px;
    color: #919295;

}

.token-list p {
    margin-bottom: 0;
    font-size: 15px;
}

.token-list table tbody tr td .edit-btn {
    display: none;
}

.token-list table tbody tr td:last-child div {
    justify-content: end;
    gap: 0;
}

.token-list table tbody .toggle-history {
    background: none;
    border: 0;
    color: #000;
    font-size: 22px;
}

.token-list table tbody .toggle-history:active {
    background-color: transparent;
}

.token-list .history-block {
    border-bottom: 1px solid #ccc;
    padding: 11px 0;
}

.token-list .history-block:last-child {
    border-bottom: none;
}


.token-list table.dataTable th.dt-type-date div.dt-column-header,
.token-list table.dataTable th.dt-type-numeric div.dt-column-header {
    flex-direction: row;
}

.token-list table.dataTable th.dt-type-numeric,
.token-list table.dataTable th.dt-type-date,
.token-list table.dataTable td.dt-type-numeric,
.token-list table.dataTable td.dt-type-date {
    text-align: left;
}

.token-list div.dt-container div.dt-layout-row:has(.dt-paging) {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    margin: .75em 0;
}

.token-list .filter-date input,
.token-list .filters button {
    height: 35px;
    padding: 0 8px;
    border: 1px solid #e5e6e7;
    border-radius: 4px;
    color: #302e2e;

}



.token-list div.dt-container div.dt-layout-row:has(.dt-paging) {
    position: absolute;
    right: 0;
    color: #fff;
}

table.dataTable>thead>tr>th,
table.dataTable>thead>tr>td {
    border-color: #e6e7e8 !important;
}

.token-list table.dataTable thead>tr>th.dt-orderable-asc:hover,
.token-list table.dataTable thead>tr>th.dt-orderable-desc:hover,
.token-list table.dataTable thead>tr>td.dt-orderable-asc:hover,
.token-list table.dataTable thead>tr>td.dt-orderable-desc:hover {
    outline: 0px;
    outline-offset: -2px;
}

div.dt-container .dt-paging .dt-paging-button {
    padding: 2px 12px !important;
}

div.dt-container .dt-paging .dt-paging-button.disabled,
div.dt-container .dt-paging .dt-paging-button.disabled:hover,
div.dt-container .dt-paging .dt-paging-button.disabled:active {
    color: #fff !important;
}

div.dt-container.dt-empty-footer .dt-scroll-body {
    border-bottom: 0 !important;
}

.token-list div.dt-container .dt-search {
    position: absolute;
    right: 607px;
    top: -26px;
    width: 389px;
}

.token-list div.dt-container .dt-search::before {
    content: '\e156';
    font-family: 'tssfont' !important;
    position: absolute;
    left: 10px;
    top: 3px;
    color: #babcbe;
    font-size: 19px;
}

.token-list div.dt-container .dt-search input {
    border: 1px solid #e5e6e7;
    border-radius: 6px;
    padding: 5px;
    background-color: transparent;
    color: inherit;
    margin-left: 5px;
    width: 100%;
    font-size: 14px;
    outline: none;
    height: 36px;
    padding-left: 30px;
}

/* .token-list .dt-layout-table{
    max-height: 280px;
    overflow-y: auto;
} */

.counter-model .counting-btns button {
    padding: 10px 20px;
    border-color: #3f8396;
}

.counter-model .delete-icon i {
    color: red;
    position: absolute;
    top: -1px;
    font-size: 11px;
    right: 3px;
}

.counter-model .value {
    color: #3f8396;
    font-weight: 600;
    font-size: 16px;
}

/* .value:hover{
    background-color: ;
} */
.counter-model .add-btn {
    background-color: #3f8396;
    font-size: 16px;
    font-weight: 600;
    color: white;
}

.counter-model .save-btn {
    background-color: #29aae0;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.counter-model .modal-footer {
    justify-content: center;
    border-top: 0px;
}

.modal-header {
    border-bottom: 0px;
}















/* list-styles end */




/* tv-screen styles  */


#status {
    font-size: 14px;
    color: #94a3b8;
    margin-bottom: 10px;
}

.tv-screen table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 7px;
    /* vertical gap between rows */

    color: white;
}

.tv-screen thead th {
    color: #fefe00;
    font-weight: 600;
    padding-bottom: 0px;
}

.tv-screen th,
.tv-screen td {
    padding: 14px;
    text-align: left;
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 500 !important;

}

.tv-screen {
    background: #313031;
    padding: 20px;
    /* max-width: 80vw; */
    /* margin: 15px auto; */
    border: 18px solid #6a5555;
    box-shadow: inset 0px 0px 46px #000;
    height: 100vh;
    width: 100vw;
}

.tv-screen tr td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.tv-screen tr td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Priority colors */
.tv-screen tr:has(.p1) td {
    background: #00a89c;
    color: white;
    font-weight: 600;
}

.tv-screen tr:has(.p2) td {
    background: #d17453;
    color: white;
    font-weight: 600;
}

.tv-screen tr:has(.p4) td,
.tv-screen tr:has(.p3) td {
    background: white;
    color: black;
    font-weight: 600;
}

.tv-screen tr .p3 {
    color: #d17453 !important;
    font-weight: 600;
}

/* .tv-screen .counter {
  border: 1px dashed #64748b;   
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 13px;
} */
.tv-screen .date-status {
    display: none;
}

.tv-screen .logo {
    height: 60px;
}

.location-wrapper {
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.location-dropdown {
    cursor: pointer;
    background: transparent;
    color: #fff;
    border: 0;
    padding: 0;
    font-size: 20px;
    outline: none;
}

.location-dropdown option {
    color: #000;
    font-size: 14px;
}




/* Collect Here */
tr.status-collect_here {
  background-color: #73d13d; /* green */
  color: #000;
}

.status-ready_for_delivery {
  background-color: #00a89c; /* light green */
}
.status-billing {
  background-color: #d17453; 
  color: #fff;
}
.status-picking {
  background-color: #f0f0f0; 
  color: #000;
}
.status-packing {
  background-color: #f0f0f0; 
  color: #000;
}
.status-completed {
  background-color: #fff; /* dark grey */
  color: #000;
}

.token-list-accordian-table td{
    background-color: transparent !important;
}


.filter-btn {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    white-space: nowrap;
    padding: 6px 12px;
}

.filter-btn i {
    font-size: 16px;
    line-height: 1;
}

#tokenTable{
    margin-top: 20px;
}
#tokenTable  tr th{
   padding: 10px 20px;
}
.fronDate{
    font-size: 15px;
    white-space: nowrap;
}

.orange-text{
    color: #f89c34;
}
.no-history-available{
    display: block;
    text-align: center;
}

/* Tbody animation */
/* #tableBody {
  transition: opacity 0.6s ease, transform 0.6s ease;
}

#tableBody.fade-out {
  opacity: 0;
  transform: translateY(10px);
}

#tableBody.fade-in {
  opacity: 1;
  transform: translateY(0);
} */
