@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    /* background: linear-gradient(to right,
            rgba(0, 128, 96, 0.75),
            rgba(0, 140, 170, 0.75)); */
    background: linear-gradient(90deg, rgba(15, 162, 122, 1) 0%, rgba(41, 145, 136, 1) 50%, rgba(68, 127, 153, 1) 100%);
    
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0 !important;
    margin: 0 !important;
}

.main-content {
    margin-top: var(--header-height);
}

.p-contain {
    padding: 20px;
}

/* login page styles start */

.login-block .bg-overlay {
    background-image: url("../images/login-bg.png");
    background-size: cover;
    background-position: center;

    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
}


.login-block .login-container {
    text-align: center;
    color: white;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-block .login-sub-container {
    width: 500px;
}

.login-block .logo {
    width: 110px;
    margin-bottom: 10px;
}

.login-block h1 {
    margin-top: -10px;
    font-size: 28px;
    font-weight: 700;
}

.login-block .login-box {
    padding: 35px 60px;
    border-radius: 25px;
    background: rgba(31, 92, 109, 0.75);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
}

.login-block .login-box h3 {
    margin-bottom: 20px;
    font-size: 24px;
    color: white;
}

.login-block .login-box input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 14px;
}

.login-block .login-box button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;

    background: #FFC107;
    color: black;
    font-weight: bold;

    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.login-block .login-box button:hover {
    background: #ffb300;
}

.login-block .error-msg {
    color: #d93025;
    margin-top: 12px;
    font-size: 14px;
}

.login-block .help {
    color: #e0e0e0;
    display: block;
    margin-top: 12px;
    cursor: pointer;
}

.login-sub-container .title h2 {
    font-size: 22px;
    font-weight: 600;
}

.error {
    margin-top: 6px;
    font-size: 0.85rem;
    color: #d93025;
    text-align: start;
}

/* login-page styles end */

/* header-styles */
.zc-logo img {
    height: 44px;
    width: auto
}

header {
    background-color: var(--header-bg-color);
    height: var(--header-height);
    padding: var(--header-padding);
    box-shadow: var(--header-box-shadow);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.header-title {
    margin-left: 25px;
    color: #fff;
}

.header-title h3 {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}

.header-title p {
    font-size: 12px;
    margin: 0;
    font-weight: 100;
}

li.zc-notifications {
    padding-top: 7px;
    color: #fff;
    cursor: pointer;
}

.welcome-user-pic {
    background: blue;
    color: #fff;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-left: 7px;
    font-size: 25px;
    font-weight: 500;
}

.zc-profile-dp-menu-list {
    padding-left: 0;
    list-style: none;
}

.welcome-widget {
    color: #fff;
    text-align: right;
    display: flex;
    flex-direction: column;
}

.zc-header .zc-header-right ul li .zc-profile-dp a .welcome-user {
    max-width: 125px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    font-weight: 500;
    font-size: 16px;
}



label.zc-user-info {
    font-size: 12px;
    cursor: pointer;
    font-weight: 100;
}

header .zc-header-right .zc-profile-dp-link {
    margin-left: 60px;
    cursor: pointer;
}

.zc-notifications .dropdown-toggle:empty::after {
    margin-left: 5px;
}

.zc-notifications .dropdown-menu.show {
    min-width: 256px !important;
    box-shadow: 0 0 0 1px rgb(20 20 31 / 5%), 0 2px 7px 1px rgb(20 20 31 / 16%);
    border: none;
    padding: 0;
    margin-top: 20px;
}

.zc-notifications .dropdown-menu h4 {
    background-color: #fff !important;
    border-bottom: 1px solid #2222301a;
    padding: 12px 16px !important;
    font-size: 14px;
    font-weight: 600;
    color: #888c9b;
    border-radius: 5px 5px 0 0;
    margin: 0;
}

.zc-notifications .notification-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.zc-notifications .notification-footer a {
    color: #007ad9;
    font-size: 14px;
    padding: 8px;
    cursor: pointer;
}

/* header styles end */


.table-title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0px;
    color: #fff;
}


.stats-bar {
    gap: 12px;
}

.stats-bar .stat-box {
    background: transparent;
    padding: 10px 16px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    border: 1px solid #1eb3b9;
}

.stats-bar .stat-box.loc-box {
    border: 0;
}

.stats-bar .stat-box i {
    font-size: 33px;
    color: #1eb3b9;
}

.stats-bar .stat-box i.check-icon {
    color: #fff;
}

.stats-bar small {
    font-size: 12px;

}

.stats-bar strong {
    font-size: 17px;
    font-weight: 500;
}

.date-input {
    background: transparent;
    border: none;
    color: #1eb3b9;
    font-size: 11px;
    margin-left: 5px;
}

.date-input::-webkit-calendar-picker-indicator {
    filter: invert(1);
    cursor: pointer;
}

.date-label {
    font-size: 12px;

}

.scan-btn {
    background: #29aae0;
    border: none;
    border-radius: 10px;
    padding: 10px 14px;
}

.scan-btn i {
    font-size: 33px;

}

.scan-btn:hover {
    background: #178fb0;
}

/* list-styles start */


.token-list div.dt-container {
    position: relative;
    clear: both;
    background: #fff;
    margin: 0;
    padding: 15px 45px;
    border-radius: 5px;
}
.token-list .dt-container div.dt-layout-row div.dt-layout-cell.dt-layout-start {
    display: none;
}
div.dt-container div.dt-layout-row div.dt-layout-cell.dt-layout-end {
    justify-content: flex-end;
    margin-left: 0px !important;
}
.token-list .dt-search label{
    display: none;
}
.token-list .dt-input{
    width: 700px;
}
.token-list .filters button{
    background-color: white;
}
.filter-sub {
    display: flex;
    align-items: baseline;
    justify-content: right;
    gap: 50px;
    position: absolute;
    top: 13px;
    z-index: 9;
    right: 20px;
}

.token-list{
    position: relative;
}
.token-list td {
    background-color: #fff !important;
    box-shadow: none !important;
    height: 80px;
}
.token-list .name-letter {
    background-color: #e3ebc5;
    color: #36b248;
    padding: 10px;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.token-list .phone-number{
    font-size: 13px;
    color: #919295;

}
.token-list p{
    margin-bottom: 0;
    font-size: 15px;
}
.token-list table tbody tr td .edit-btn{
    display: none;
}
.token-list table tbody tr td:last-child div{
    justify-content: end;
    gap: 0;
}

.token-list table tbody .toggle-history {
    background: none;
    border: 0;
    color: #000;
    font-size: 22px;
}

.token-list table tbody .toggle-history:active{
    background-color: transparent;
}

.token-list .history-block {
    border-bottom: 1px solid #808080;
    padding: 11px 0;
}
.token-list .history-block:last-child {
    border-bottom: none;
}

/* list-styles end */




/* tv-screen styles  */


#status {
  font-size: 14px;
  color: #94a3b8;
  margin-bottom: 10px;
}

.tv-screen table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 7px; /* vertical gap between rows */

  color: white;
}
.tv-screen thead th {
color: #fefe00;
font-weight: 500;
}
.tv-screen th, .tv-screen td {
  padding: 14px;

  text-align: left;
  font-size: 16px;
 margin-bottom: 10px;

}
.tv-screen{
      background: #111827;
      padding: 20px;
}
.tv-screen tr td:first-child {
 border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.tv-screen tr td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* Priority colors */
.tv-screen tr:has(.p1) td {
  background: #00a89c;
  color: white;
}

.tv-screen tr:has(.p2) td {
  background: #ef5922;
  color: white;
}

.tv-screen tr:has(.p4) td,
.tv-screen tr:has(.p3) td {
  background: white;
  color: black;
}
.tv-screen tr .p3{
    color: #ef5922 !important;
}

/* .tv-screen .counter {
  border: 1px dashed #64748b;   
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 13px;
} */
.tv-screen .date-status{
    display: none;
}
.tv-screen .logo{
    height: 50px;
}